*{
  margin:0;
  padding:0;
}

html, body {
  height: 100%;
  width: 100%;
  background:#0d0e1c;
}

.container { 
   position:relative;
   top:25%;
   display: flex; 
   width:80%;
   /*height:400px;*/
   margin:auto;
   flex-direction:column;
   background-color:#040614;
   border-radius:15px;
   border:1px solid white;
}

.header{
  width:100%; 
  text-align:center;
  padding:10px 0;
}

.header img{
  width:20%;
}

.header h1{
  color:#f2f2f2dd;
  padding:5px;
}

.current-time{
  width:100%;
}

.current-time h1{
  color:#ffc800;
  text-align:center;
  letter-spacing:5px;
  padding:5px;
  margin-bottom:5px;
} 

.option{
  width:50%;
  display:flex;
  margin:5px auto;
  border:1px solid white;
  justify-content:center;
}

.option div{
  width:100%;
  text-align:center;
}

.span{
  height:100%;
}

.span span{
  position:relative;
  top:13px;
  color:white;
  font-size:20px;
}

.option div select{
  width:70px;
  height:50px;
  padding:5px;
  margin:1px;
  font-size:15px;
  background-color:#00011f;
  border:none;
  outline:none;
  color:white;
  text-align:center;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: '..';
}

.message{
  margin:2px 25px;
  color:#35b03b;
}

.btn{
  width:100%;
  text-align:center;
  margin:10px 0;
}

.btn button{
  width:40%;
  padding:15px 0;
  background-color:#000d17;
  border:2px solid white;
  color:white;
  font-size:20px;
  border-radius:10px;
}

.btn button:hover{
  background-color:#151521;
}


.btn-stop{
  width:100%;
  text-align:center;
  margin:8px 0;
  display:none;
}

.btn-stop button{
  background-color:#7d0000 !important;  
  width:40%;
  padding:15px 0;
  border:2px solid white;
  color:white;
  font-size:20px;
  border-radius:10px;
}

.shake{
  animation:shake 0.5s infinite;
}

@media only screen and (max-width: 600px) {
  .option{
    width:90%;
  }

  .btn button{
    width:90%;
  }

  .btn-stop button{
    width:90%;
  }

}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}